:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0em;
  padding: 0em;
  font-family: 'Montserrat';
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  margin: 0em;
  padding: 0em;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.navbar-nav,
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-nav {
  height: 100%;
}
header {
  height: 90vh;
  padding: 1em;
  padding-bottom: 3.5em;
  margin-bottom: 1em;
  background: var(--bg-nav);
  text-align: center;
  flex-direction: column;
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 50% 100%, 0% 65%);
}

header ul {
  text-align: left;
  width: 100px;
  list-style-type: circle;
}

.dropdown {
  position: absolute;
  margin-top: 1.5em;
  height: 50px;
  width: 250px;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  transform: translate(-30%);
  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  font-weight: bold;
  outline: none;
}

.dropdown-item a::before {
  content: ' ';
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

main h1 {
  margin-left: 1rem;
  text-align: center;
}
main h3 {
  margin-left: 1em;
}
p {
  margin-left: 2em;
}
/* 
@media only screen and (max-width: 400px) {
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  }
} */

@media only screen and (max-width: 500px) {
  header {
    font-size: 16px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  }
  h1 {
    font-size: 16px;
  }
  img {
    width: 200px;
  }
}
